<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
    <div id="survey">
        <!-- lines 12-14 are to cycle thru and produce the flash messages from the process url  -->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %} {% endif %} {% endwith %}

        <!-- form goes to the process route for validation and if valid is rendered at results.html -->
        <form action="/process" method="post">
            <p>Your Name: <input type="text" name="name"></p>
            <p>Dojo Location:
                <select name="location">
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Orange County">Orange County</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Seattle">Seatttle</option>
                </select></p>
            <p>Favorite Language:
            <select name='language'>
                    <option value="Python">Python</option>
                    <option value="Swift">Swift</option>
                    <option value="Java">Java</option>
                    <option value="Mean">MEAN</option>
                </select></p>
            <p>Comment (optional):</p>
            <textarea name="comment" rows="8" cols="80"></textarea>
            <p><input type="submit" name="button" value="button"></p>
        </form>

    </div>
</body>

</html>
