<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
</head>

<body>
    <h1>Hello {{user.first_name}}</h1>
    <form action="/secrets/create" method="post">
        <textarea name="content"></textarea>
        <input type="submit" value="Post"> {% csrf_token %}
    </form>
    <h2><a href="/secrets">Most Popular Secrets</a></h2>

    <h1>Recent Secrets...</h1>
    {% for secret in secrets %}
    <p>{{secret.content}} ({{secret.created_at}}) {{secret.like__count}} likes
        {% if secret.user_id == user.id %}
        <strong>You posted this</strong> <a href="/secrets/{{secret.id}}/delete">Delete</a>
        {% elif secret.already_liked %}
        <strong>You liked this</strong>
        {% else %}
<a href="/secrets/{{secret.id}}/like">Like</a>
        {% endif %}
    {% endfor %}




    </body>
</html>
