<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Mostv Popular Secrets...</h1>
        <a href="{% url 'secrets:dashboard' %}">Back</a>
        {% for secret in secrets %}

        <p>{{secret.content}} ({{secret.created_at}}) {{secret.like__count}} likes
            {% if secret.user_id == user.id %}
            <strong>You posted this</strong> <a href="/secrets/{{secret.id}}/delete">Delete</a>
            {% elif secret.already_liked %}
            <strong>You liked this</strong>
            {% else %}
    <a href="/secrets/{{secret.id}}/like">Like</a>
            {% endif %}
        {% endfor %}
    </body>
</html>
